h1,
h2 {
    color: #2c3e50;
    margin-top: 0
}

h1 {
    font-size: 28px;
    margin-bottom: 20px
}

h2 {
    font-size: 22px
}

.btn {
    color: #fff;
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color .3s;
    margin-top: 15px
}

.btn:hover {
    background-color: #16a085
}

.product-item {
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #e0e0e0
}

.product-item:last-child {
    border-bottom: none
}

.product-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 8px
}

.product-details {
    flex-grow: 1
}

.product-name {
    font-weight: 600;
    margin: 0 0 3px;
    color: #2c3e50
}

.product-price {
    font-weight: 600;
    text-align: right;
    color: #2c3e50
}

.quantity {
    font-size: .9em;
    color: #7f8c8d;
    text-align: right
}

.delivery-address {
    background-color: #c5d1c2;
    padding: 15px;
    border-radius: 8px;
    margin-top: 20px
}

.delivery-address p {
    margin: 5px 0
}

.order-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: larger;
    font-style: oblique;
}


.timeline {
position: relative;
padding-left: 100px;
margin-top: 30px;
padding-bottom: 10px; /* Add some padding at the bottom */
}

.timeline-item {
position: relative;
margin-bottom: 30px;
display: flex;
align-items: flex-start;
}

.timeline-item::before {
content: '';
position: absolute;
left: -25px;
top: 4px;
width: 12px;
height: 12px;
border-radius: 50%;
background-color: #4caf50;
z-index: 2;
}

.timeline-date {
position: absolute;
left: -90px;
top: 4px;
font-size: .9em;
color: #666;
}

.timeline-icon {
flex-shrink: 0;
width: 24px;
height: 24px;
margin-right: 15px;
color: var(--primary-color);
}

.progress-line {
position: absolute;
left: 80px;
top: 10px;
width: 2px;
background-color: #4caf50;
transition: height 0.5s ease;
z-index: 1;
}

.timeline-item.completed .timeline-icon,
.timeline-item.active .timeline-icon {
color: green;
}

.dark-progress-line {
position: absolute;
left: 80px;
top: 10px;
width: 2px;
background-color: #e0e0e0;
z-index: 0;
}