{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Guppies & Bettas</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="ckGuppies E-Commerce Store">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/images/icons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/images/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/images/icons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'assets/images/icons/site.html' %}">
    <link rel="mask-icon" href="{% static 'assets/images/icons/safari-pinned-tab.svg' %}" color="#666666">
    <link rel="shortcut icon" href="{% static 'assets/images/icons/favicon4.ico' %}">
    <meta name="apple-mobile-web-app-title" content="ckGuppies">
    <meta name="application-name" content="ckGuppies">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="{% static 'assets/images/icons/browserconfig.xml' %}">
    <meta name="theme-color" content="#ffffff">

    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">

    <!-- Main CSS File -->
    <!-- <link rel="stylesheet" href="{% static 'assets/css/style.css' %}"> -->
    <link rel="stylesheet" href="{% static 'assets/css/style/Base.css' %}">


    <link rel="stylesheet" href="{% static 'assets/css/skins/skin-demo-4.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/demos/demo-4.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style2.css' %}">


    <script type="text/javascript">
        var user = '{{request.user}}'

        function getToken(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getToken('csrftoken')

        // get cookies if user is unauthenticated
        function getCookie(name) {
            // Split cookie string and get all individual name=value pairs in an array
            var cookieArr = document.cookie.split(";");

            // Loop through the array elements
            for (var i = 0; i < cookieArr.length; i++) {
                var cookiePair = cookieArr[i].split("=");

                /* Removing whitespace at the beginning of the cookie name
                and compare it with the given string */
                if (name == cookiePair[0].trim()) {
                    // Decode the cookie value and return
                    return decodeURIComponent(cookiePair[1]);
                }
            }

            // Return null if not found
            return null;
        }
        var cart = JSON.parse(getCookie('cart'))

        // create cookies if it's not exist
        if (cart == undefined) {
            cart = {}
            console.log('Cart Created!', cart)
            document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
        }
        console.log('Cart:', cart)

    </script>

    <style>
        #account-menu {
            display: none;
            transition: max-height 0.3s ease-out;
            overflow: hidden;
            max-height: 0;
        }

        #account-menu.show {
            display: block;
            max-height: 200px;
            /* Adjust based on content height */
        }

        /* Media queries for larger screens */
        @media (min-width: 990px) {
            #account-menu {
                display: inline-flex;
                max-height: none;
            }

            #account-toggle {
                cursor: pointer;
            }
        }
    </style>

</head>

<body>
    <div class="page-wrapper">
        <header class="header header-intro-clearance header-4">
            <div class="header-top">
                <div class="container">
                    <div class="header-left">
                        <a href="tel:#"><i class="icon-phone"></i>Call: +91 9747377338</a>
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <ul class="top-menu" id="account-toggle">
                            <li>
                                <p id="account-toggle">Account</p>
                                <ul id="account-menu">
                                    {% if user.is_authenticated %}
                                    <li><a href="{% url 'store_app:account_info' %}">{{user.customer.name|default:user.username}}</a></li>
                                    {% if user.is_superuser %}
                                    <li><a href="{% url 'admin_app:dashboard' %}" id="signin-button">Admin panel</a>
                                    </li>
                                    {% endif %}
                                    <li><a href="{% url 'auth_app:logout' %}" id="signin-button">Logout</a></li>
                                    {% else %}
                                    <li><a href="{% url 'auth_app:register' %}" id="signup-button">Sign up</a></li>
                                    <li><a href="{% url 'auth_app:login' %}" id="signin-button">Sign in</a></li>
                                    {% endif %}
                                </ul>
                            </li>
                        </ul><!-- End .top-menu -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-top -->

            <div class="header-middle">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler"
                            style="margin-left: 0px;margin-right: 0px; font-weight: bolder;">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>
                        <a href="{% url 'store_app:allProdCat' %}" class="logo">
                            <!-- logo -->
                            <img src="{% static 'assets/images/demos/demo-4/logo.png' %}" alt="Logo"
                                width="150" height="25">
                        </a>

                    </div><!-- End .header-left -->

                    <div class="header-center">
                        <div class="header-search header-search-extended header-search-visible d-none d-lg-block">
                            <a href="{% url 'search_app:SearchResult' %}" class="search-toggle" role="button"><i
                                    class="icon-search"></i></a>
                            <form action="{% url 'search_app:SearchResult' %}" method="get">
                                {% csrf_token %}
                                <div class="header-search-wrapper search-wrapper-wide">
                                    <label for="q" class="sr-only">Search</label>
                                    <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                                    <input type="search" class="form-control" name="q" id="q"
                                        placeholder="Search product ..." required>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!-- header section stiky code (header-middle:sticky-header)-->

                    <!-- <div class="header-right">
                        <div class="wishlist">
                            <a href="{% url 'store_app:wishlist' %}" title="Wishlist">
                                <div class="icon">
                                    <i class="icon-heart-o"></i>
                                    <span class="wishlist-count badge" id="wishlist-count">{{ wishlist_count }}</span>
                                </div>
                                <p>Wishlist</p>
                            </a>
                        </div>
                        <div class="dropdown cart-dropdown">
                            <a href="{% url 'store_app:cart' %}" class="dropdown-toggle">
                                <div class="icon">
                                    <i class="icon-shopping-cart"></i>
                                    <span class="cart-count" data-cart-items="{{cartItems}}">{{cartItems}}</span>
                                </div>
                                <p>Cart</p>
                            </a>
                        </div>
                    </div> -->

                    <!-- icon sticky code  -->

                    <div class="header-right sticky-icon" id="sticky-icon">
                        <div class="wishlist">
                            <a href="{% url 'store_app:wishlist' %}" title="Wishlist">
                                <div class="icon">
                                    <i class="icon-heart-o"></i>
                                    <span class="wishlist-count badge" id="wishlist-count">{{ wishlist_count }}</span>
                                </div>
                                <p>Wishlist</p>
                            </a>
                        </div>
                        <div class="dropdown cart-dropdown" id="cart-dropdown">
                            <a href="{% url 'store_app:cart' %}" class="dropdown-toggle">
                                <div class="icon">
                                    <i class="icon-shopping-cart"></i>
                                    <span class="cart-count" data-cart-items="{{cartItems}}">{{cartItems}}</span>
                                </div>
                                <p>Cart</p>
                            </a>
                        </div>
                    </div>

                    <script>
                        window.onscroll = function() {myFunction()};
                        
                        var header = document.getElementById("sticky-icon");
                        var cart_rm = document.getElementById("cart-dropdown");
                        var sticky = header.offsetTop;
                        
                        function myFunction() {
                          if (window.pageYOffset > sticky) {
                            header.classList.add("sticky");
                            cart_rm.classList.add("cart-padding-rm");
                          } else {
                            header.classList.remove("sticky");
                            cart_rm.classList.remove("cart-padding-rm");
                          }
                        }
                    </script>


                </div><!-- End .container -->



                <style>
                   .mobile-search-container {
                    width: 100%;
                    padding: 10px;
                    box-sizing: border-box;
                    display: block;
                }

                @media screen and (min-width: 992px) {
                    .mobile-search-container {
                        display: none;
                    }
                }

                .mobile-search-form {
                    display: flex;
                    width: 100%;
                    justify-content: center;
                }

                .search-input-wrapper {
                    display: flex;
                    width: 100%;
                    max-width: 100%; /* Prevent overflow */
                    border: 1px solid #ccc;
                    border-radius: 8px;
                    overflow: hidden;
                    background-color: white;
                }

                .mobile-search-input {
                    flex: 1;
                    border: none;
                    padding: 10px 15px;
                    font-size: 16px;
                    min-height: 40px;
                    box-sizing: border-box;
                }

                .mobile-search-button {
                    background: #3498db;
                    width: 50px;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: none;
                    color: #fff;
                    font-size: 16px;
                    cursor: pointer;
                    box-sizing: border-box;
                }

                /* Optional for very small screens */
                @media screen and (max-width: 340px) {
                    .mobile-search-button {
                        width: 40px;
                        height: 40px;
                    }

                    .mobile-search-input {
                        font-size: 14px;
                    }
                }

                </style>

                <style>
                    .mobile-search-container {
                        display: block;
                    }

                    @media screen and (min-width: 992px) {
                        .mobile-search-container {
                            display: none;
                        }
                    }
                </style>

                <div class="mobile-search-container">
                    <form class="mobile-search-form" action="{% url 'search_app:SearchResult' %}" method="get">
                        {% csrf_token %}
                        <div class="search-input-wrapper">
                            <label for="mobile-search" class="sr-only">Search</label>
                            <input type="search" name="q" id="q" placeholder="Search..." class="mobile-search-input"
                                autocomplete="off" required>
                            <button type="submit" class="mobile-search-button">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                        <input type="hidden" name="post_type" value="product">
                    </form>
                </div>



            </div><!-- End .header-middle -->

            <div class="header-bottom sticky-header">
                <div class="container">
                    <div class="header-center">
                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                <li class="megamenu-container {% if request.path == '/' %}active{% endif %}">
                                    <a href="{% url 'store_app:allProdCat' %}">Home</a>
                                </li>
                                <li class="megamenu-container {% if request.path == '/shop/' %}active{% endif %}">
                                    <a href="{% url 'store_app:allProductListing' %}">Shopping</a>
                                </li>
                                <li class="{% if request.path == '/cart/' %}active{% endif %}">
                                    <a href="{% url 'store_app:cart' %}">Cart</a>
                                </li>
                                <li class="{% if request.path == '/payment_cards/' %}active{% endif %}">
                                    <a href="{% url 'store_app:payment_cards' %}">Payment</a>
                                </li>
                                <li class="{% if request.path == '/myorders/' %}active{% endif %}">
                                    <a href="{% url 'store_app:myorders' %}">Orders</a>
                                </li>
                                <li class="{% if request.path == '/account/' %}active{% endif %}">
                                    <a href="{% url 'store_app:account_info' %}">Account</a>
                                </li>

                                <li class="{% if request.path == '/gallery/' %}active{% endif %}">
                                    <a href="{% url 'store_app:gallery' %}">Gallery</a>
                                </li>
                                <li class="{% if request.path == '/about/' %}active{% endif %}">
                                    <a href="{% url 'store_app:about' %}">About</a>
                                </li>
                                <li class="{% if request.path == '/contact/' %}active{% endif %}">
                                    <a href="{% url 'store_app:contact' %}">Contact</a>
                                </li>
                            </ul>
                        </nav><!-- End .main-nav -->
                    </div><!-- End .header-center -->

                </div><!-- End .container -->
            </div><!-- End .header-bottom -->
        </header><!-- End .header -->
        {% block content %}
        <!-- -------------------------------------------------------------------------- -->

        <!-- -------------------------------------------------------------------------- -->
        {% endblock %}
        <style>
            .footer-desktop {
                display: none;
            }

            @media screen and (min-width: 768px) {
                .footer-mobile {
                    display: none !important;
                }

                .footer-desktop {
                    display: block !important;
                }
            }
        </style>
        <footer class="footer">

            <!-- Mobile Footer Design -->
            <div class="footer-mobile">
                <div class="footer-middle">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 col-lg-3">
                                <div class="widget widget-about">
                                    <img src="{% static 'assets/images/demos/demo-4/logo.png' %}"
                                        class="footer-logo" alt="Footer Logo" width="105" height="25">
                                    <p>Welcome to our online store, where we offer a wide variety of guppies and bettas
                                        for your aquarium. Enjoy your shopping experience!</p>


                                </div><!-- End .widget about-widget -->
                            </div><!-- End .col-sm-6 col-lg-3 -->

                            <div class="col-md-12">
                                <div class="social-icons social-icons-colored justify-content-around mb-3">
                                    <a href="#" class="social-icon social-whatsapp" title="WhatsApp" target="_blank"
                                        style="background-color: #25d366;"><i class="icon-whatsapp"></i></a>
                                    <a href="#" class="social-icon social-instagram" title="Instagram"
                                        target="_blank"><i class="icon-instagram"></i></a>
                                    <a href="#" class="social-icon social-facebook" title="Facebook" target="_blank"><i
                                            class="icon-facebook-f"></i></a>
                                    <a href="#" class="social-icon social-youtube" title="Youtube" target="_blank"><i
                                            class="icon-youtube"></i></a>
                                </div>

                            </div>

                            <div class="container text-center">
                                <div class="row">
                                    <div class="col">
                                        <div class="col-sm-12 col-lg-12">
                                            <div class="widget">
                                                <h4 class="widget-title">Additional Links</h4>
                                                <ul class="widget-list">
                                                    <li><a href="{% url 'store_app:allProdCat' %}">Home</a></li>
                                                    <li><a href="{% url 'store_app:allProductListing' %}">shopping</a>
                                                    </li>
                                                    <li><a href="{% url 'store_app:gallery' %}">Gallery</a></li>
                                                    <li><a href="{% url 'store_app:about' %}">About us</a></li>
                                                    <li><a href="{% url 'store_app:contact' %}">Contact</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="col-sm-12 col-lg-12">
                                            <div class="widget">
                                                <h4 class="widget-title">Terms & Policies</h4>
                                                <ul class="widget-list">
                                                    <li><a href="{% url 'store_app:terms_and_conditions' %}">T&C</a></li>
                                                    <li><a href="{% url 'store_app:refund_policy' %}">Refunds</a></li>
                                                    <li><a href="{% url 'store_app:shipping_info' %}">shipment</a></li>
                                                    <li><a href="{% url 'store_app:privacy_policy' %}">policy</a></li>
                                                    <li><a href="{% url 'store_app:faq' %}">Questions</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="col-sm-12 col-lg-12">
                                            <div class="widget">
                                                <h4 class="widget-title">My Account</h4>
                                                <ul class="widget-list">
                                                    <li><a href="{% url 'auth_app:login' %}">Sign In</a></li>
                                                    <li><a href="{% url 'auth_app:register' %}">Sign Up</a></li>
                                                    <li><a href="{% url 'store_app:payment_cards' %}">Payment</a></li>
                                                    <li><a href="{% url 'store_app:myorders' %}">Orders</a></li>
                                                    <li><a href="{% url 'store_app:account_info' %}">Account</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                </div>

                            </div><!-- End .row -->
                        </div><!-- End .container -->
                    </div>
                    <!-- <div>
                        <a href="{% url 'store_app:devolopper' %}">
                            <p class="footer-copyright text-center">About Devolopper</p>
                        </a>
                    </div> -->
                    <div class="footer-bottom">
                        <div class="container">
                            <p class="footer-copyright text-center">Copyright © {% now "Y" %} <a href="https://iammujthaba.github.io/portfolio/index.html">Mujthaba MK.</a></p>
                        </div>
                    </div>
                </div>
            </div>
                <!-- Desktop Footer Design -->
                <div class="footer-desktop">
                    <div class="footer-middle">
                        <div class="container">
                            <div class="row footer-row">
                                <div class="col-12 col-lg-3">
                                    <div class="widget widget-about">
                                        <img src="{% static 'assets/images/demos/demo-4/logo 19a.png' %}"
                                            class="footer-logo" alt="Footer Logo" width="105" height="25">
                                        <p>Welcome to our online store, where we offer a wide variety of guppies and
                                            bettas for your aquarium. Enjoy your shopping experience!</p>
                                        <div class="social-icons social-icons-colored">
                                            <a href="#" class="social-icon social-whatsapp" title="WhatsApp"
                                                target="_blank" style="background-color: #25d366;"><i
                                                    class="icon-whatsapp"></i></a>
                                            <a href="#" class="social-icon social-instagram" title="Instagram"
                                                target="_blank"><i class="icon-instagram"></i></a>
                                            <a href="#" class="social-icon social-facebook" title="Facebook"
                                                target="_blank"><i class="icon-facebook-f"></i></a>
                                            <a href="#" class="social-icon social-youtube" title="Youtube"
                                                target="_blank"><i class="icon-youtube"></i></a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-lg-3">
                                    <div class="widget text-center">
                                        <h4 class="widget-title">Additional Links</h4>
                                        <ul class="widget-list">
                                            <li><a href="{% url 'store_app:allProdCat' %}">Home</a></li>
                                            <li><a href="{% url 'store_app:allProductListing' %}">Shopping</a></li>
                                            <li><a href="{% url 'store_app:gallery' %}">Gallery</a></li>
                                            <li><a href="{% url 'store_app:about' %}">About us</a></li>
                                            <li><a href="{% url 'store_app:contact' %}">Contact</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-12 col-lg-3">
                                    <div class="widget text-center">
                                        <h4 class="widget-title">Terms & Policies</h4>
                                        <ul class="widget-list">
                                            <li><a href="{% url 'store_app:terms_and_conditions' %}">T&C</a></li>
                                            <li><a href="{% url 'store_app:refund_policy' %}">Refunds</a></li>
                                            <li><a href="{% url 'store_app:shipping_info' %}">shipment</a></li>
                                            <li><a href="{% url 'store_app:privacy_policy' %}">Privacy Policy</a></li>
                                            <li><a href="{% url 'store_app:faq' %}">Questions</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-12 col-lg-3">
                                    <div class="widget text-center">
                                        <h4 class="widget-title">My Account</h4>
                                        <ul class="widget-list">
                                            <li><a href="{% url 'auth_app:login' %}">Sign In</a></li>
                                            <li><a href="{% url 'auth_app:register' %}">Sign Up</a></li>
                                            <li><a href="{% url 'store_app:payment_cards' %}">Payment</a></li>
                                            <li><a href="{% url 'store_app:myorders' %}">Orders</a></li>
                                            <li><a href="{% url 'store_app:account_info' %}">Account</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div>
                        <a href="{% url 'store_app:devolopper' %}">
                            <p class="footer-copyright text-center">About Devolopper</p>
                        </a>
                    </div> -->
                    <div class="footer-bottom">
                        <div class="container">
                            <p class="footer-copyright text-center">Copyright © {% now "Y" %} <a href="https://iammujthaba.github.io/portfolio/index.html">Mujthaba MK.</a></p>
                        </div>
                    </div>
                </div>

        </footer>

    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>






    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container mobile-menu-light">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

            <!-- <form action="{% url 'search_app:SearchResult' %}" method="get" class="mobile-search">
                {% csrf_token %}

                <label for="mobile-search" class="sr-only">Search</label>
                <input type="search" class="form-control" name="q" id="q" placeholder="Search in..." required>
                <a href="{% url 'search_app:SearchResult' %}">
                    <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                </a>
            </form> -->

            <ul class="nav nav-pills-mobile nav-border-anim" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="mobile-menu-link" data-toggle="tab" href="#mobile-menu-tab"
                        role="tab" aria-controls="mobile-menu-tab" aria-selected="true">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="mobile-cats-link" data-toggle="tab" href="#mobile-cats-tab" role="tab"
                        aria-controls="mobile-cats-tab" aria-selected="false">Categories</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade show active" id="mobile-menu-tab" role="tabpanel"
                    aria-labelledby="mobile-menu-link">
                    <nav class="mobile-nav">
                        <ul class="mobile-menu">
                            <li class="active">
                                <a href="{% url 'store_app:allProdCat' %}">Home</a>
                            </li>
                            <li>
                                <a href="{% url 'store_app:allProductListing' %}">Shopping</a>
                            </li>
                            <li>
                                <a href="{% url 'store_app:cart' %}">Cart</a>
                            </li>
                            <li>
                                <a href="{% url 'store_app:myorders' %}">Orders</a>
                            </li>
                            <li>
                                <a href="{% url 'store_app:payment_cards' %}">Payment</a>
                            </li>
                            <li>
                                <a href="{% url 'store_app:account_info' %}">Account</a>
                            </li>
                            <li>
                                <a href="{% url 'store_app:gallery' %}">Gallery</a>
                            </li>
                            <li>
                                <a href="{% url 'store_app:faq' %}">Questions</a>
                            </li>
                            <li>
                                <a href="{% url 'store_app:about' %}">About us</a>
                            </li>
                            <li>
                                <a href="{% url 'store_app:contact' %}">Contact</a>
                            </li>
                        </ul>
                    </nav><!-- End .mobile-nav -->
                </div><!-- .End .tab-pane -->
                <div class="tab-pane fade" id="mobile-cats-tab" role="tabpanel" aria-labelledby="mobile-cats-link">
                    <nav class="mobile-cats-nav">
                        <ul class="mobile-cats-menu">
                            <li><a href="{% url 'store_app:allProductListing' %}">Guppies</a></li>


                            {% for i in links %}
                            <!-- # 1 - when user "click" eny catogory name, it call "get_url" function under Catogory method (go to model.py) -->
                            <li><a href="{{i.get_url}}">{{i.name}}</a></li>
                            {% endfor %}


                        </ul><!-- End .mobile-cats-menu -->
                    </nav><!-- End .mobile-cats-nav -->
                </div><!-- .End .tab-pane -->
            </div><!-- End .tab-content -->

            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="WhatsApp"><i class="icon-whatsapp"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->
    
    <!-- WhatsApp Floating Button -->
    <style>
        .whatsapp-float {
            position: fixed;
            bottom: 20px;
            right: 20px;
            z-index: 999;
            height: 60px;
            width: 60px;
            background-color: #25D366;
            border-radius: 50%;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
            display: flex;
            align-items: center;
            justify-content: center;
            transition: transform 0.3s ease;
        }

        .whatsapp-float img {
            height: 35px;
            width: 35px;
        }

        .whatsapp-float:hover {
            transform: scale(1.1);
        }

        /* Optional: Adjust size for smaller screens */
        @media (max-width: 576px) {
            .whatsapp-float {
                height: 50px;
                width: 50px;
                bottom: 15px;
                right: 15px;
            }

            .whatsapp-float img {
                height: 30px;
                width: 30px;
            }
        }

    </style>

    <a href="https://wa.me/917025962175" class="whatsapp-float" target="_blank" title="Need help? Chat with our fish experts on WhatsApp">
        <img src="{% static 'assets/images/whatsapp-icon.png' %}" alt="WhatsApp" />
    </a>

    <!-- Plugins JS File -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.hoverIntent.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'assets/js/superfish.min.js' %}"></script>
    <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap-input-spinner.js' %}"></script>
    <script src="{% static 'assets/js/jquery.plugin.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.countdown.min.js' %}"></script>
    <!-- icon js -->
    <script src="https://kit.fontawesome.com/fc51e437b8.js"></script>
    <script src="{% static 'assets/js/main2.js' %}"></script>
    <!-- Main JS File -->
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script src="{% static 'assets/js/demos/demo-4.js' %}"></script>
    <!-- nave baar link active -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            var currentUrl = window.location.href;

            $('.menu a').each(function () {
                if ($(this).attr('href') === currentUrl) {
                    $(this).closest('li').addClass('active');
                }
            });
        });
    </script>

<!-- header section stiky code (header-middle:sticky-header)-->

    <!-- <script>
        window.onscroll = function() { makeHeaderSticky() };

        var headerMiddle = document.querySelector('.header-middle');
        var sticky = headerMiddle.offsetTop;

        function makeHeaderSticky() {
        if (window.pageYOffset > sticky) {
            headerMiddle.classList.add("sticky-header");
        } else {
            headerMiddle.classList.remove("sticky-header");
        }
        }
    </script> -->
    
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var accountToggle = document.getElementById('account-toggle');
            var accountMenu = document.getElementById('account-menu');

            accountToggle.addEventListener('click', function () {
                if (window.innerWidth < 768) {
                    accountMenu.classList.toggle('show');
                }
            });
        });
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            if ('{{request.user.is_authenticated}}' === 'False') {
                updateCartDataForUnauthorizedUser();
            }
        });
    </script>

    <!-- --------------------------------------------------------------------------------- -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>

</body>

</html>