{% extends 'store/Base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'assets/css/style/payment.css' %}">

<div class="container">
    <div class="row">
        <div class="col-lg-6 mt-4">
    
            <div class="box-element order-summary" style="padding-bottom: 1rem; padding-top: 1.5rem;">
                <h3>Order Summary</h3>

<div class="product-list">
    {% for item in items %}
                    <div class="product-item">
                        <a href="{{item.product.get_url}}">
                        <img src="{{ item.product.imageURL }}" alt="{{ item.product.name }}" class="product-image">
                        <div class="product-details">
                            <h3 class="product-name">{{ item.product.name }}</h3>
                        </a>
                            <div class="product-price" style="text-align: left;">
                                <span class="related-product-price">₹{{ item.price_at_purchase }}</span>
                                {% if item.product.get_discounted_price %}
                                <span class="text-success mb-0 ml-2" style="color: #4CAF50; padding-left: 7px;">{{ item.product.get_discounted_price.percentage }}% off</span>
                                {% else %}
                                <span class="mb-0 ml-2" style="padding-left: 7px; color: #6c757d;">[Offer Not avalable]</span>
                                {% endif %}
                            </div>
                            <div>
                                <span class="related-product-price">Qty: {{ item.quantity }}</span>
                                <span style="padding-left: 10px;"><strong>X</strong></span>
                                <span style="padding-left: 10px;" class="text-success mb-0 ml-2">₹{{ item.price_at_purchase }}</span>
                                <span style="padding-left: 10px;"><strong>=</strong></span>
                                <span style="padding-left: 10px;"><strong>₹{{ item.get_total }}</strong></span>
                            </div>
                        </div>
                    </div>
 
                {% endfor %}
            </div>

<!-- --------------------------------------------------- -->



                <hr>
                <div class="card" style="border: none;">
                    <div class="card-body" style="padding: 0px;">
                        <dl class="dlist-align">
                            <dt>Sub Total:</dt>
                            <dd class="text-end">₹ {{order.get_cart_total|floatformat:2}}</dd>
                        </dl>
                        {% if total_price_difference %}
                        <dl class="dlist-align">
                            <dt>You Save:</dt>
                            <dd class="text-end text-success">₹ {{ total_price_difference|floatformat:2 }}</dd>
                        </dl>
                        {% endif %}
                        <dl class="dlist-align">
                            <dt>Shipping:</dt>
                            <dd class="text-end">₹ {{ shipping_charge|floatformat:2 }}</dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Total Items:</dt>
                            <dd class="text-end">{{order.get_cart_items}}</dd>
                        </dl>
                        <hr>
                        <dl class="dlist-align total">
                            <dt>Total:</dt>
                            <dd class="text-end">₹ {{ order.get_cart_total|add:shipping_charge|floatformat:2 }}</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4" style="padding-bottom: 1rem; padding-top: 1.5rem;">
            <div class="box-element shipping-info">
                <h3>Shipping Address</h3>
                <p><strong>Contact Number:</strong> {{ shipping_info.number }}</p>
                <p><strong>WhatsApp Number:</strong> {{ shipping_info.whatsapp }}</p>
                <p><strong>Address:</strong> {{ shipping_info.address }}</p>
                <p><strong>City:</strong> {{ shipping_info.city }}</p>
                <p><strong>State:</strong> {{ shipping_info.state }}</p>
                <p><strong>Zip Code:</strong> {{ shipping_info.zipcode }}</p>
                <div id="payment-info">
                    <button id="rzp-button1" style="background-color: #007BFF;">Proceed to Pay</button>
                    <a href="{% url 'store_app:checkout' %}" class="btn btn-light w-100 mt-4"> Back to Address </a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
var total = '{{order.get_cart_total|add:shipping_charge}}';
var options = {
    "key": "{{ razorpay_key_id }}", // Use the key from my backend (settings.py file)
    "amount": total * 100,
    "currency": "INR",
    "name": "MUJTHABA M K",
    "description": "Thank You for Buying from Us",
    "image": "https://example.com/your_logo",
    "order_id": "{{ razorpay_order_id }}",
    "handler": function (response){
        submitFormData(response);
    },
    "prefill": {
        "name": '{{user.username}}',
        "email": null,
        "contact": null
    },
    "theme": {
        "color": "#28a745"
    }
};

var rzp1 = new Razorpay(options);

rzp1.on('payment.failed', function (response){
    alert(response.error.description);
});

document.getElementById('rzp-button1').onclick = function(e){
    rzp1.open();
    e.preventDefault();
}

function submitFormData(paymentResponse){
    console.log('Payment successful, processing order...');

    var shippingInfo = {{ shipping_info|safe }};
    shippingInfo.total = total;
    shippingInfo.razorpay_payment_id = paymentResponse.razorpay_payment_id;
    shippingInfo.razorpay_order_id = paymentResponse.razorpay_order_id;
    shippingInfo.razorpay_signature = paymentResponse.razorpay_signature;

    var url = "{% url 'store_app:process_order' %}";
    fetch(url, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}',
        },
        body: JSON.stringify({
            'shipping': shippingInfo,
            'csrfmiddlewaretoken': '{{ csrf_token }}'
        }),
    })
    .then((response) => response.json())
    .then((data) => {
        console.log(data.message);
        if (data.success) {
            Swal.fire({
                icon: "success",
                title: "Well done!",
                text: data.message,
            }).then((result) => {
                if (result.isConfirmed) {
                    // Clear the cart
                    localStorage.removeItem('cart');
                    
                    // Redirect to the home page
                    window.location.href = "{% url 'store_app:myorders' %}";
                }
            });
        } else {
            Swal.fire({
                icon: "error",
                title: "Oops...",
                text: data.message,
            });
        }
    });
}
</script>

{% endblock content %}





