{% extends 'store/Base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'assets/css/style/store/payment_details.css' %}">

<div class="container mt-5 payment-details-page">
    <h2 class="text-center mb-4">Payment Details</h2>

    <div class="card shadow-sm p-3 mb-4 bg-white rounded">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th scope="row">Order ID</th>
                    <td>{{ payment_record.razorpay_order_id }}</td>
                </tr>
                <tr>
                    <th scope="row">Payment ID</th>
                    <td>{{ payment_record.razorpay_payment_id }}</td>
                </tr>
                <tr>
                    <th scope="row">Payment Status</th>
                    <td class="{% if payment_record.payment_status == 'Payment Successful' %}text-success{% else %}text-danger{% endif %}">
                        {{ payment_record.payment_status }}
                    </td>
                </tr>
                <tr>
                    <th scope="row">Paid Amount</th>
                        {% if payment_record.razorpay_payment_id == none  %}
                            <td>Unpaid</td>
                        {% else %}
                            <td>₹{{ payment_record.amount }}</td>
                        {% endif %}
                </tr>
                <tr>
                    <th scope="row">Order Status</th>
                    <td class="{% if payment_record.details == 'Order successful.' %}text-success{% else %}text-danger{% endif %}">
                        {{ payment_record.details }}
                    </td>
                </tr>
                <tr>
                    <th scope="row">Payment At</th>
                    <td>{{ payment_record.created_at|date:"d M Y" }}</td>
                </tr>
                <tr>
                    <th scope="row">Time At</th>
                    <td>{{ payment_record.created_at|date:"H:i" }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="card-footer text-center">
        {% if payment_record.order.order_created %}
            <a href="{% url 'store_app:trackOrder' payment_record.order.id %}" class="btn btn-success w-100">
                <i class="fas fa-truck"></i> Track Order
            </a>
        {% else %}
            <p class="text-danger"><strong>"Order not Created"</strong></p>
            <small class="text-muted p-3">Our customer care team will contact you within 24 hours. <br>Don't worry; we will manually complete your order.</small>
        {% endif %}
    </div>
    <!-- Include FontAwesome for icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</div>
{% endblock %}
