{% extends 'store/Base.html' %}

{% block content %}

<div class="container">
    <h2>My Payment Status</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Amount</th>
                <th>Payment Status</th>
                <th>Order Status</th>
                <th>Date</th>
    
                <th>Order Details</th>
            </tr>
        </thead>
        <tbody>
            {% for record in payment_records %}
            <tr>
                <td>{{ record.razorpay_order_id }}</td>
                <td>₹{{ record.amount|floatformat:2 }}</td>
                <td>{{ record.payment_status }}</td>
                <td>{{ record.order.status  }}</td>
                <td>{{ record.created_at }}</td>
                <td>
                    {% if record.order.complete %}
                        <a href="{% url 'store_app:trackOrder' record.order.id %}">Track Order</a>
                    {% else %}
                        Order failed
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
