{% extends 'store/Base.html' %}
{% load static %}
{% load custom_filters %}
{% load cart_tags %}

<!-- for base.html meta, title -->
{% block metadescription %}
    we have verty of products.
{% endblock %}

{% block title %}
    search
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'assets/css/style/store/search.css' %}">

<div class="container">
<nav aria-label="breadcrumb" class="breadcrumb-nav border-0">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'store_app:allProdCat' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Search</li>
        </ol>
    </div><!-- End .container -->
</nav><!-- End .breadcrumb-nav -->

    <div class="p-1 mb-1" style="margin-left: 15px;">
        <p>searching for: <b>'{{query}}'</b></p>
    </div>

        



        <div class="products">
            <div class="row justify-content-center">
    
                {% for product in products %}
                    {% include "store/includes/product_card.html" with product=product %}
                {% empty %}

                <div>
                    <h4 style="margin-top: 40px; margin-bottom: 50px;">0 Result Found</h4>
                </div>

                {% endfor %}
    
            </div>
        </div>


</div>

{% endblock %}