{# templates/store/includes/cart_button.html #}
{% if template_name == 'wishlist' %}
    <div class="product-actions" style="display: contents;">
        {% if product.status == 'out_of_stock' or product.stock <= 0 %}
            <button class="btn btn-secondary add-to-cart update-cart disabled" style="cursor: not-allowed;">
                Out&nbsp;Of&nbsp;Stock
            </button>
        {% else %}
            {% if is_in_cart %}
                <a href="{{ cart_url }}" class="btn btn-success add-to-cart">
                    <i class="fas fa-shopping-cart" style="margin-left: 0rem;"></i><span> View&nbsp;in&nbsp;Cart</span>
                </a>
            {% else %}
                <button data-quantity="{{ product.stock }}" data-product="{{ product.id }}" data-action="add" 
                        class="btn btn-primary add-to-cart update-cart">
                        <i class="fas fa-cart-plus" style="margin-left: 0rem;"></i><span> Add&nbsp;to&nbsp;Cart</span>
                </button>
            {% endif %}
        {% endif %}
    </div>

{% elif template_name == 'product' %}
    <div class="product-details-action">
        {% if product.status == 'out_of_stock' or product.stock <= 0 %}
            <a id="add-to-cart-btn" class="btn-product btn-disabled2 update-cart disabled" 
               style="margin-left: 19px; margin-right: 17px; background-color: #6c757d; opacity: .80; cursor: not-allowed;">
                <span style="color: #fff;font-size: 1.5rem;">Out&nbsp;Of&nbsp;Stock</span>
            </a>
        {% else %}
            {% if is_in_cart %}
                <a href="{{ cart_url }}" class="btn-product btn-cart" 
                   style="margin-left: 17px; margin-right: 17px;">
                    <span style="color: #fff;font-size: 1.5rem;">
                        <i class="fas fa-shopping-cart" style="margin-left: 0rem;"></i>view&nbsp;in&nbsp;cart
                    </span>
                </a>
            {% else %}
                <a data-quantity="{{product.stock}}" data-product="{{product.id}}" data-action="add" 
                   id="add-to-cart-btn" class="btn-product btn-cart update-cart" 
                   style="margin-left: 17px; margin-right: 17px;">
                   <i class="fas fa-cart-plus" style="margin-left: 0rem;"></i><span style="color: #fff;font-size: 1.5rem;">add&nbsp;to&nbsp;cart</span>
                </a>
            {% endif %}
        {% endif %}
    </div>

{% else %}
    <div class="product-actions">
        {% if product.status == 'out_of_stock' or product.stock <= 0 %}
            <button class="btn btn-secondary btn-lg btn-block add-to-cart add-btn update-cart disabled" 
                    style="cursor: not-allowed;">Out&nbsp;Of&nbsp;Stock</button>
        {% else %}
            {% if is_in_cart %}
                <a href="{{ cart_url }}" class="btn btn-success btn-lg btn-block view-cart-btn">
                    <i class="fas fa-shopping-cart" style="margin-left: 0rem;"></i>View&nbsp;in&nbsp;Cart
                </a>
            {% else %}
                <button data-quantity="{{ product.stock }}" data-product="{{ product.id }}" data-action="add" 
                        class="btn btn-primary btn-lg btn-block add-to-cart add-btn update-cart">
                        <i class="fas fa-cart-plus" style="margin-left: 0rem;"></i>Add&nbsp;to&nbsp;Cart
                </button>
            {% endif %}
        {% endif %}
    </div>
{% endif %}