

.page-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: rgb(10, 10, 10);
}

/* Payment card styling */
.payment-card {
  display: flex;
  align-items: center;
  background-color: #d1d1d1;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.amount {
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.details {
  flex-grow: 1;
  margin-left: 15px;
}

.order-status {
  font-size: 16px;
  font-weight: bold;
  color: black;
}

.date-time {
  font-size: 14px;
  color: #555;
}

.arrow {
  font-size: 20px;
  color: #555;
}

.view-order {
  font-size: 20px;
  color: #6f42c1;
  text-decoration: none;
}

.disabled-arrow {
  color: #888;
  font-size: 20px;
  cursor: not-allowed;
}

/* Hover effect */
.payment-card:hover {
  transform: translateY(-2px);
  transition: transform 0.2s ease;
}

/* Responsive styles */
@media (max-width: 576px) {
  .payment-card {
    flex-direction: column;
    align-items: flex-start;
  }

  .amount {
    margin-bottom: 10px;
  }

  .details {
    margin: 0;
  }
}
