{% extends 'admin_app/base_admin.html' %}
{% block content %}
{% load static %}
<style>
    .status-Placed { color: red; }
    .status-confirmed { color: orange; }
    .status-shipped { color: blue; }
    .status-delivered { color: green; }
    .status{
        font-size: 1.2em;
        font-family: cursive;
    }
    .alert-container {
            margin-bottom: 20px;
        }
    .alert {
        padding: 10px;
        background-color: #4CAF50;
        color: white;
        margin: 10px 0;
        border-radius: 5px;
    }
</style>
<!-- Display messages -->
{% if messages %}
<div class="alert alert-danger">
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
</div>
{% endif %}


<h1>{{ title }}</h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Customer</th>
            <th>Ordered</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
            <!-- <th>State</th> -->
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for order_detail in orders_with_details %}
        <tr>
            <td>{{ order_detail.order.id }}</td>
            <td>{{ order_detail.order.customer.name }}</td>
            <td>{{ order_detail.order.placed_time|date:"Y-m-d" }}</td>
            <td>{{ order_detail.total_quantity }}</td>
            <td>{{ order_detail.order.get_cart_total }}</td>
            <td>{{ order_detail.order.total_price }}</td>
            <!-- <td>{{ order_detail.state }}</td> -->
            <td class="{% if order_detail.order.status == 'Order Placed' %}
                            status-Placed
                        {% elif order_detail.order.status == 'Order Confirmed' %}
                            status-confirmed
                        {% elif order_detail.order.status == 'Product Shipped' %}
                            status-shipped
                        {% elif order_detail.order.status == 'Product Delivered' %}
                            status-delivered
                        {% endif %} status">
                {{ order_detail.order.status }}
            </td>
            <td>
                <a href="{% url 'admin_app:order_view' order_detail.order.pk %}">
                    <button type="button" class="btn btn-primary">View</button>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
