{% extends 'admin_app/base_admin.html' %}
{% block content %}
<h2>All Payment Statuses</h2>
<table class="table">
    <thead>
        <tr>
            <th>Order ID <br> razorpay_order_id</th>
            <th>Customer <br> name</th>
            <th>Amount <br> total_price</th>
            <th>Payment Status <br> payment_status</th>
            <th>Order Created <br> order_created</th>
            <th>Order Status <br> status</th>
            <th>Order Details <br> order_created</th>
        </tr>
    </thead>
    <tbody>
        {% for payment_record in payment_records %}
        <tr>
            <td>{{ payment_record.razorpay_order_id }}</td>
            
            <td>{{ payment_record.order.customer.name }}</td>
            <td>₹{{ payment_record.order.total_price|floatformat:2 }}</td>
            <td>{{ payment_record.payment_status }}</td>
            <td>{{ payment_record.order.order_created }}</td>
            <td>{{ payment_record.order.status  }}</td>
            <td>
                {% if payment_record.order.order_created %}
                <a href="{% url 'admin_app:order_view' payment_record.order.id %}">View</a>
                {% else %}
                Not Available
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
