{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'CSS/auth.css' %}">
</head>
<body>
    <div class="container">
        <h2>Login</h2>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Login"><br>
        </form>
        <p class="register-link" style="margin-top: 0px;">Don't have an account? <a href="{% url 'auth_app:register' %}">Register here</a></p>
        <p class="register-link explore-link">Explore Website <a href="{% url 'store_app:allProdCat' %}">Explore here</a></p>
        {% if form.errors %}
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    <p class="error-message">{{ error }}</p>
                {% endfor %}
            {% endfor %}
        {% endif %}
    </div>
</body>
</html>